* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bad Script', cursive;
  color: #fff;
  font-size: 36px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

}

.item {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-basis: 25%;
 transition: all 0.3s;
}
.item:hover {
	flex-basis: 75%;
}

.item-1 {
	background: url(../img/pic-1.jpg) no-repeat center center;
	background-size: cover;
}
.item-2 {
	background: url(../img/pic-2.jpg) no-repeat center center;
	background-size: cover;
}
.item-3 {
	background: url(../img/pic-3.jpg) no-repeat center center;
	background-size: cover;
}
.item-4 {
	background: url(../img/pic-4.jpg) no-repeat center center;
	background-size: cover;
}